body {
    background: #f2f2f2;
}

.cover-container {
    max-width: 55em;
    margin-top: 10%;
}

.chart-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.show-template-container {
    max-width: 70em;
    margin-top: 3%
}

.show-result-container {
    max-width: 110em;
    margin-top: 3%
}

table {
    line-height: 0.5;
    font-size: 15px;
    background-color: #E5E5E5;
    /* table-layout:fixed; */
}

.export-btn-grp {
    margin-left: 15px;
}

.btn-outline-primary {
    width: 56px;
}

.inline{
	display: inline;
}
.description-box{
    font-size: 0.7em;
}
.setting-card{
    background:#efefef;
    margin: 3%;
    padding: 2%;
    border: 1px solid #E5E5E5;
}
.bg-dark {
    background-color: #3d4c5a!important;
}